__pycache__
.coverage*
.DS_Store
.eggs/
.installed.cfg
.mypy_cache/
.pytest_cache/
.Python
.venv/
.vscode
*.db
*.db-journal
*.egg
*.egg-info/
*.sqlite
**/*.ipynb*
**/*.log
**/*.pdf
**/*.png
**/*.tmp
/build/
/cache/
/data/
/develop-eggs/
/dist/
/downloads/
/eggs/
/ideas/
/lib/
/lib64/
/outputs/
/parts/
/pip-wheel-metadata/
/projects/
/prompts_cache/
/sdist/
/share/python-wheels/
/wheels/
/WIP/
MANIFEST
secrets.env
